.main{
    display: flex;
    overflow: auto;
    flex-direction: column;
    padding: 2rem 1.5rem;
    width: 100%;
}

.total_income{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    gap: .5rem;
    span{
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--color-green);
    }
}
.income_content{
    display: flex;
    gap: 2rem;
    
}
.incomes{
    flex: 1;
}